body {
  width: 80%;
  margin: 10vw auto;
  background-color: black;
}
a {
  color: white;
}

.heading {
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 10vw;
}

.subheading {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5;
}
.navigation {
  position: absolute;
  top: 50%;
  left: 45%;
  font-family: "Open Sans";
  font-weight: bold;
  opacity: 1;
  border-bottom: white;
}

.media {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-53%, -50%);
}
li {
  list-style: none;
  margin: 10px 30px;
  display: inline-block;
  font-size: 20px;
  padding: 20px 20px;
  color: black;
  border: 1px solid black;
  border-radius: 50%;
  transition: 0.5s;
}

li:hover {
  color: black;
  border: 1px solid white;
  transition: 0.5s;
}

@media screen and (min-width: 40em) {
  body {
    width: 50%;
  }

  .heading {
    font-size: 6vw;
  }

  .subheading {
    font-size: 1.75vw;
  }
}
/*================================================
Start Important Part
==================================================*/
.underline--magical {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}
.underline--magical:hover {
  background-size: 100% 88%;
}

.footer {
  font-family: "Open Sans", sans-serif;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 1px;
}

/*================================================
End Important Part
==================================================*/

form {
  margin-top: 90px;
  padding-top: 20%;
  transition: all 4s ease-in-out;
}

.form-control {
  width: 600px;
  background: transparent;
  border: 1px solid white;
  outline: none;
  color: white;
  font-size: 18px;
  margin-bottom: 16px;
}

.input {
  height: 45px;
}

form .submit {
  background: white;
  border-color: transparent;
  color: black;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form.submit:hover {
  background-color: pink;
  cursor: pointer;
}

/* body {
  position: absolute;
  width: 1036px;
  height: 118px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: normal;
  line-height: 67px;
}
.title {
  font-size: 230%;
  font-family: "IBM Plex Serif";
  width: 200px;
  font-size: 48px;
  color: #998f96;
  display: inline-block;
}
.homenav {
  font-family: "IBM Plex Serif";
}
.aboutnav {
  font-family: "IBM Plex Serif";
}
.about {
  font-family: "IBM Plex Serif";
  line-height: 2;
}

.pastexperience {
  font-family: "IBM Plex Serif";
  width: 200px;
  font-size: 30px;
  color: #998f96;
  display: inline-block;
}

.experiencelist {
  font-family: "IBM Plex Serif";
  line-height: 2;
} */
